/* header */
.header{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 /20%);
}
.header_top{
     
    background-color:var(--color_one);
    color:var(--color_two);
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.header_main .inner-wrap{
    display:flex;
    justify-content: space-between;
    align-items: center;
   padding:15px 0;
}
.header_main .inner-logo img{
    height:48px;
    width: auto;
    margin-right: 10px;
}
.header_main .inner-logo span {
    font-size: 25px;
    font-weight: 600px;
   color:#103178;
}
.header_main .inner-logo a{
    color: var(--color_one);
    display: flex;
    align-items: center;
}
.header_main .inner-menu ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}
.header_main .inner-menu ul li a {
    color:var(--color_one);
    font-size: 20px;
}
.header_main .inner-menu ul li {
    margin-left: 15px;
    margin-right: 15px;
}
.header_main .inner-contact{
    color: var(--color_text);
    font-size: 18px;
}
.header_main .inner-social ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}
.header_main .inner-social ul li a{
    color: var(--color_one);
    font-size: 20px;
}
.header_main .inner-social ul li{
    margin-left: 15px;
}
.fa-twitter::before {
    content: "\f099";
    color: var(--color_one);
    font-size: 20px;
    margin-left: 15px;
}
.header_main .inner-menu-mobile{
    display: none;
}

@media (max-width: 768px) {
    .header_top{
        font-size: 16px;
    }
    
}

@media (max-width: 992px) {
    .header_main .inner-contact{
        display: none;
    }
    
}

@media (max-width: 768px) {
   .header_main .inner-menu{
        display: none;
   }

   .header_main .inner-social{
    display: none;
   }

    .header_main .inner-menu-mobile{
        display: block;
    }
}
/* end header */
/* button */
.button{
    background:var(--color_text);
    color:#fff;
    padding:4px 20px;
    font-size: 18px;
    border-radius: 45px;
    border:2px solid var(--color_text) ;
    display: inline-block;
}
.button:hover{
    color: var(--color_text);
    background: #fff;
}
.button-one{
    background: var(--color_one);
    border-color: var(--color_one) ;

}
.button-one:hover{
    color: var(--color_one);

}
.button-two{
    background: var(--color_two);
    border-color: var(--color_two) ;

}
.button-two:hover{
    color: var(--color_two);

}
/* end button */
/* Section one */
.Section-one{
    background-color:#F0F2F5 ;
    padding: 100px 0;
}
.Section-one .inner-wrap{
    display: flex;
}
.Section-one .inner-content{
    width: 50%;
}
.Section-one .inner-image{
    width: 50%;
    position: relative;
}
.Section-one .inner-content .inner-title {
    font-size:60px;
    color: var(--color_one);
}
.Section-one .inner-content .inner-desc{
    font-size:20px;
    color: var(--color_one);
    margin-bottom: 40px;
}
.Section-one .inner-content .inner-list {
    display: flex;
    margin-bottom: 40px;
}
.Section-one .inner-item {
    width: 50%;
    font-size:20px ;
    display: flex;
    align-items: center;
}
.Section-one .inner-item i{
    font-size:24px ;
    margin-right: 2px;
}
.Section-one .inner-image img{
    width: 100%;
    /* chieu rong an theo the cha */
}
.Section-one .inner-image .inner-sale{
    position: absolute;
    top:0px;
    right: 100px;
    background: var(--color_two);
    color: var(--color_one);
    display:flex;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Section-one .inner-image .inner-sale span:nth-child(1){
    font-size: 22px;
    font-weight: 600;
}
.Section-one .inner-image .inner-sale span:nth-child(2){
    font-size: 42px;
    font-weight: 600;
}
@media (max-width:992px) {
    .Section-one .inner-content{
    width: 100%;
    order: 1;
    }

    .Section-one .inner-image{
    width: 100%;
    }
    .Section-one .inner-wrap{
    display: flex;
    flex-wrap: wrap;
    }
}
@media (max-width:768px) {
    .Section-one .inner-content{
        text-align: center;
    }
    .Section-one .inner-content .inner-item{
        justify-content: center;
    }
    .Section-one .inner-image .inner-sale{
        right: 53px;
        width: 100px;
        height: 100px;
    }
    .Section-one .inner-image .inner-sale span:nth-child(1) {
    font-size: 18px;
    }
    .Section-one .inner-content .inner-title{
        font-size: 38px;
    }
}

/* end Section one*/
/* section two */
.section-two img{
    width: 200px;
}
.section-two .inner-wrap{
    display: flex;
}
.section-two{
    padding: 80px 0;
    justify-content:space-between ;
}
.section-two .inner-box{
    width: calc(100%/3 - 20px);
    height: 100%;
    /* ty le rong chia cao cua element */
    aspect-ratio: 4/3;
    position: relative;
    overflow: hidden;
}
.section-two .inner-box img{
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    object-fit: cover;
}
.section-two .inner-box .inner-content{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
}
.section-two .inner-box .inner-tag{
    background:#13A05D ;
    display: inline-block;
    padding:6px 12px;
    border-radius: 15px;
    color: #fff;
    margin-bottom: 6px;
}
.section-two .inner-box .inner-title{
    margin-top: 0;
    font-size: 24px;
    color:var(--color_one);
    margin-bottom: 20px;
}
.section-two .inner-box:hover img{
    transform: scale(1.1);
}
@media (max-width:992px) {
    .section-two .inner-wrap{
    flex-wrap: wrap;
    }
    .section-two .inner-box{
        width:100% ;
        aspect-ratio: 2/1;
        /* ti le rong chia cao */
        margin-bottom: 30px;
    }
}
@media (max-width: 576px){
     .section-two .inner-box{
         aspect-ratio: 1/1;
     }
}
.section-two .inner-box .inner-sale{
    color: var(--color_two);
    font-size:48px ;
    margin:8px 0px;
    font-weight: 600;
}
.section-two .inner-price-new{
    color: var(--color_two);
    font-size: 48px;
}
.section-two .inner-price-old{
    color: #bbbbbb;
    text-decoration: line-through;
    margin: 8px 0px;
}
/* end section two */

/* section-three */
.section-three{
    background: #F0F2F5;
    padding: 80px 0;
}
.section-three .inner-head .inner-title{
    font-size: 60px;
    color:var(--color_one);
    margin:0;
}

.section-three .inner-head .inner-desc{
    font-size: 24px;
    margin:0;
}
.section-three .inner-head{
    text-align: center;
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.section-three .inner-wrap{
    display: flex;
}
.section-three .inner-box{
    text-align: center;
    width: calc(100%/3);
}
.section-three .inner-wrap .inner-box .inner-title{
    color: var(--color_one);
     font-size:20px;
}
.section-three .inner-wrap .inner-box .inner-icon{
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0;
    margin-top: 0;
}
/* end section-three */